<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Devis Généré</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container" style="text-align: center;">
    <h1>Devis généré avec succès !</h1>
    <p>Vous pouvez télécharger votre devis en cliquant sur le lien ci-dessous :</p>
    <a class="button" href="<%= pdfFile %>" target="_blank">Télécharger le Devis (PDF)</a>
    <p>Le devis vous a également été envoyé par email.</p>
    <a class="button" href="/">Nouveau devis</a>
  </div>
</body>
</html>